[Desktop Entry]
Type=Application
Exec=aeolus
Comment=Virtual pipe organ based on additive synthesis
Name=Aeolus
Icon=aeolus
Categories=Audio;AudioVideo;Midi;
Name[cs]=Aeolus
Comment[cs]=Virtuální varhany založené na aditivní syntéze
Name[de]=Aeolus
Comment[de]=Virtuelle Pfeifenorgel, auf additiver Synthese beasierend
Name[es]=Aeolus
Comment[es]=Órgano virtual basado en la síntesis aditiva
Name[fr]=Aeolus
Comment[fr]=Orgue virtuel basé sur la synthèse additive
Name[it]= Aeolus
Comment[it]= Virtual pipe organ basato sulla sintesi additiva
Name[ja]=Aeolus
Comment[ja]=バーチャルパイプオルガン
Name[nb]=Aeolus
Comment[nb]=Virtuelt orgel basert på additivsyntese
Name[nl]=Aeolus
Comment[nl]=Virtueel pijporgel gebaseerd op toegevoegde syntheses
Name[pl]=Aeolus
Comment[pl]=Wirtualne organy piszczałkowe
Name[pt_BR]=Aeolus
Comment[pt_BR]=Virtual pipe organ based on additive synthesis
Name[sk]=Aeolus
Comment[sk]=Virtuálny píštalový organ založený na aditívnej syntéze
Name[zh_CN]=Aeolus
Comment[zh_CN]=基于加法合成的虚拟管道元件
Name[zh_TW]=Aeolus
Comment[zh_TW]=以疊合多種合成器為基礎的虛擬管風琴
